@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto; /* Make images responsive */
}

ul, ol {
  list-style: none; /* Remove bullets from lists */
}

a {
  text-decoration: none; /* Remove underline from links */
}

button {
  border: none; /* Remove default border */
  background: none; /* Remove default background */
  cursor: pointer; /* Use pointer cursor for buttons */
}

